<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
    <title>Hello World!</title>
  </head>
  <body>
    <h1><%= greeting %></h1>
    <div>Platform: <%= process.platform %></div>
    <div>PreloadScript: <%= preload %></div>
    <!-- All of the Node.js APIs are available in this renderer process. -->
    We are using Node.js <%= process.versions.node %>
    Chromium <%= process.versions.chrome %>,
    and Electron <%= process.versions.electron %>
    <button id="button1">Alert</button>
  </body>
</html>